<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<title><h:outputText value="GMT - Goal Management Tool" /></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<h:outputStylesheet name="styles/gmtstyles.css"/>	
	</h:head>
	<h:body class="main">
		<div class="in_div">
			<h:form>
				<h1 class="in_h1">
					<h:outputText class="in_h1_outputtext" value="GMT - Goal Management Tool" />
				</h1>
				<h:outputText class="in_outputtext" value="“A dream is just a dream. A goal is a dream with a plan and a deadline.” ― Harvey MacKay" />		
				<p:commandButton value="Let's go!" class="in_link" action="login" ajax="false" />
			</h:form>
		</div>
	</h:body>
</html>