<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title><h:outputText value="GMT - Goal Management Tool" /></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<h:outputStylesheet name="styles/gmtstyles.css" />
</h:head>
<h:body class="main">
	<div>
		<div class="lg_divtop">
			<h1 class="lg_h1">
				<h:outputText class="lg_h1_outputtext" value="GMT - Goal Management Tool" />
			</h1>
		</div>
		<div class="lg_divmain">
			<h:form>
				<h:panelGrid class="lg_pgridmain" columns="2" cellpadding="10"
					cellspacing="1">
					<f:facet name="header">
						<h:outputText value="Login" />
					</f:facet>
					<h:outputLabel value="Username:" />
					<h:inputText value="#{loginController.username}" label="username" />

					<h:outputText value="Password:" />
					<h:inputSecret value="#{loginController.password}" label="password" />

					<f:facet name="footer">
						<h:panelGroup class="lg_pgroup">
							<p:commandButton class="lg_btn" value="Submit" action="#{loginController.login}"/>
							<p:commandButton class="lg_btn" value="Cancel" action="index" />
						</h:panelGroup>
					</f:facet>
				</h:panelGrid>
			</h:form>
		</div>
	</div>
</h:body>
</html>