<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
	<title><h:outputText value="GMT - Goal Management Tool" /></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<h:outputStylesheet name="styles/gmtstyles.css" />
</h:head>
<h:body class="main">
	<h:form id="form1">
		<div id="globdiv">
			<div id="mndivtop" class="mn_divtop">
				<p:panelGrid>
					<h1 class="mn_h1">
						<h:outputText class="mn_h1_outputtext" value="GMT - Goal Management Tool" />
					</h1>
					<p:commandButton style="position: absolute; top: 12px; left: 93%;" value="Logout" action="#{logoutController.logout}" />
				</p:panelGrid>
			</div>
			<div id="mndivmain" class="mn_divmain">
				<p:timeline id="timeline" widgetVar="timeLine" value="#{goalController.goalTimelineModel}" height="400px" width="1100px" 
					showCurrentTime="true" style="position: absolute; left: 10%; right: 10%" 
					timeChangeable="false" stackEvents="true" editable="true" eventMargin="10" eventMarginAxis="0" 
					min="#{goalController.goalTimeline.startEvent}">
					<p:ajax event="edit" listener="#{goalController.onEdit}" update="goalDialog" oncomplete="PF('goalDlg').show()" />
					<p:ajax event="delete" listener="#{goalController.onDelete}" onstart="PF('confirm').show()"/>					
				</p:timeline>
				<p:confirmDialog widgetVar="confirm" message="Are you sure?" header="Confirm goal deletion" severity="alert" >
					<p:commandButton value="OK" action="#{goalController.deleteGoal}"
						style="left: 135px" oncomplete="PF('confirm').hide()"/>
					<p:commandButton value="Cancel" update="form1:timeline" onclick="PF('confirm').hide()" 
						style="position: absolute; right: 10px" />
				</p:confirmDialog>
			</div>
			<div class="mn_divbottom">
				<p:commandButton id="newGoal" styleClass="mn_btngreen" style="position: absolute; top: 90%; left: 46%;" value="New Goal"
					oncomplete="PF('goalDlg').show()" update="goalDialog" resetValues="true" actionListener="#{goalController.onNew}"/>					
			</div>
		</div>
	</h:form>		
	<p:dialog id="goalDialog" widgetVar="goalDlg" visible="#{facesContext.validationFailed}" modal="true" 
		width="800" height="500" resizable="false" >
		<h:form id="form2">
			<p:tabView id="tabView" style="font-size: small">
				<p:tab id="goalTab" title="Goal">	
					<p:panelGrid id="pGrid1" columns="1" cellpadding="10" styleClass="ui-noborder" style="width: 100%; position: relative">
						<h:outputText value="Name:" />
						<p:inputText id="shortTermGoal" value="#{goalController.goal.shortTerm}" required="true" maxlength="255" 
							style="width: 98%">
							<f:validateLength minimum="1"/>
							<p:message for="shortTermGoal" display="icon"/>																													
						</p:inputText>	
						<h:outputText value="Description:" />
						<p:inputTextarea id="descriptionGoal" value="#{goalController.goal.description}" required="true" maxLength="1023" 
							style="width: 98%">			
							<f:validateLength minimum="1"/>
							<p:message for="descriptionGoal" display="icon" />						
						</p:inputTextarea>
					</p:panelGrid>
					<p:panelGrid id="pGrid2" columns="4" cellpadding="10" cellspacing="1" styleClass="ui-noborder" style="width: 100%;
						position: relative;">
						<h:outputLabel for="beginDateTime" value="Begin:" />
						<p:calendar id="beginDateTime" value="#{goalController.goal.beginDate}" pattern="dd.MM.yyyy HH:mm:ss" 
							showOn="button" required="true">
							<f:convertDateTime date-style="medium" type="localDateTime"	pattern="dd.MM.yyyy HH:mm:ss" />
							<f:validateLength minimum="1"/>
							<p:message for="beginDateTime" display="icon" />												
						</p:calendar>
						<h:outputText />
						<h:outputText />
						<h:outputLabel for="endDateTime" value="End:" />
						<p:calendar id="endDateTime" value="#{goalController.goal.endDate}" pattern="dd.MM.yyyy HH:mm:ss" showOn="button"
							required="true">
							<f:convertDateTime date-style="medium" type="localDateTime"	pattern="dd.MM.yyyy HH:mm:ss" />
							<f:validateLength minimum="1"/>
							<p:message for="endDateTime" display="icon" />																		
						</p:calendar>
						<h:outputText />
						<h:outputText />
						<h:outputText value="Category:" />
						<p:selectOneMenu label="selectOneCategory" value="#{goalController.goal.category}">
							<f:selectItems value="#{categoryController.allCategories}" />
						</p:selectOneMenu>
						<h:outputLabel for="colorCat" value="Color:" style="color:grey"/>									
	<!-- 					<p:colorPicker id="colorCat" /> -->
						<h:outputText value="Status:" />
						<p:selectOneMenu label="selectOneStatus" value="#{goalController.goal.status}">
							<f:selectItems value="#{statusController.allStatus}" />
						</p:selectOneMenu>
						<h:outputText />
						<h:outputText />
						<h:outputText value="Subgoals:" style="color:grey"/>		
						<h:outputText />
						<h:outputText />
						<h:outputText />
					</p:panelGrid>
					<p:panelGrid id="pGrid3" styleClass="ui-noborder" style="display:block; margin-left: auto; margin-right: 0">
						<pe:switch id="switch" value="#{goalController.buttonValue}" >  
							<pe:case value="Save">
								<p:commandButton id="actionBtn1" style="position: absolute; right: 115px; background: LimeGreen;" 
									value="Save" actionListener="#{goalController.saveNewGoal}" ajax="false" >
								</p:commandButton>
							</pe:case>  
							<pe:case value="Update">
								<p:commandButton id="actionBtn2" style="position: absolute; right: 115px; background: LimeGreen;" 
									value="Update" action="#{goalController.updateGoal}" ajax="false" />	
							</pe:case>  
						</pe:switch>						
						<p:commandButton id="cancelBtn" style="position: absolute; right: 40px" value="Cancel" 
							action="#{goalController.goal.clear}" oncomplete="PF('goalDlg').hide()" />
					</p:panelGrid>
				</p:tab>
				<p:tab title="Subgoal" disabled="true" />
				<p:tab title="Milestone" disabled="true" />
			</p:tabView>
		</h:form>			
	</p:dialog>	
</h:body>
</html>