<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title><h:outputText value="GMT - Goal Management Tool" /></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<h:outputStylesheet name="styles/gmtstyles.css" />
</h:head>
<h:body class="main">
	<h:form>
		<div>
			<div class="rj_divtop">
				<h1 class="rj_h1">
					<h:outputText class="rj_h1_outputtext" value="GMT - Goal Management Tool" />
				</h1>
			</div>
			<div class="rj_divmain">
				<h:panelGrid class="rj_pgridmain" columns="1" cellpadding="10"
					cellspacing="1">
					<h:outputText value="Login failed!" />
					<p:commandButton style="position: relative; left: 4%;" value="Cancel" action="index" />
				</h:panelGrid>
			</div>
		</div>
	</h:form>
</h:body>
</html>