.main
{
	background-color: LightSteelBlue;
}
.in_div 
{ 
	position: relative;		 
}
.in_h1 
{
	position: absolute;
	width: 100%;
	text-align: center;
}		
.in_h1_outputtext
{
	position: absolute;
	left: 0;
	top: 140px;		
	width: 100%;
	text-align: center;
	font-family: "ubuntu", serif;
	color: SaddleBrown;
}
.in_outputtext
{
	position: absolute;
	left: 0;
	top: 220px;
	width: 100%;
	text-align: center;
	font-style: italic;
}
.in_link 
{ 
	position: absolute; 
	left: 45%;
	top: 300px; 
	width: 130px; 			
	text-align: center; 
} 
.lg_divtop 
{ 
	background-color: Navy;
	position: absolute;
	left: 0;	 
	top: 0;
	height: 10%;
	width: 100%;
}
.lg_divmain
{ 
	position: absolute;
	left: 38%;	 
	top: 30%;
	height: 215px;
	width: 295px;
}
.lg_pgridmain
{	
	border: 1px solid black;
	border-radius: 4px;	
	background-color: Gainsboro;
	width: 100%;
}
.lg_pgroup
{
	display:block; 
	text-align:center
}
.lg_h1 
{
	position: relative;
	top: 0;
	width: 100%;
	text-align: left;
}		
.lg_h1_outputtext
{
	position: relative;
	left: 5px;
	width: 100%;
	bottom: 10px;
	text-align: left;
	font-family: "ubuntu", serif;
	color: LightBlue;
}
.rj_pgridmain
{	
	border: 1px solid black;
	border-radius: 4px;	
	background-color: Gainsboro;
	width: 95%;
}
.rj_divtop
{
	background-color: Navy;
	position: absolute;
	left: 0;	 
	top: 0;
	height: 10%;
	width: 100%;
}
.rj_divmain 
{ 
	position: relative;
	left: 45%;	 
	top: 210px;
	width: 135px;
}
.rj_h1 
{
	position: relative;
	top: 0;
	width: 100%;
	text-align: left;
}		
.rj_h1_outputtext
{
	position: relative;
	left: 5px;
	width: 100%;
	bottom: 10px;
	text-align: left;
	font-family: "ubuntu", serif;
	color: LightBlue;
}
.mn_divtop
{	
	background-color: Navy; 
	position: absolute;	
	left: 0; 
	top: 0; 
	height: 10%; 
	width: 100%;
}
.mn_divmain
{
	position: absolute;
	left: 0;	
	top: 15%;
	width: 100%; 
}
.mn_btngreen
{
	background: LimeGreen;
}
.mn_h1 
{
	position: relative;
	top: 0;
	width: 100%;
	text-align: left;
}		
.mn_h1_outputtext
{
	position: relative;
	left: 5px;
	width: 100%;
	bottom: 10px;
	text-align: left;
	font-family: "ubuntu", serif;
	color: LightBlue;
}
.mn_chart
{
	position: relative;
	left: 5%; 
	top: 10%; 
	height:300px; 
	width: 90%; 
}